<?xml version="1.0"?>
<configuration>
 <connectionStrings>
    <add name="ConnectionString" connectionString="data source=DESKTOP-AQ3IQAP\SQLSERVER; Integrated Security=TRUE;Initial Catalog=OnlineExam; uid=sa; password=tajmahal;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <location path="Register.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>

  <system.web>
    <authorization>
      <deny users="?"/>
    </authorization>
  </system.web>

</configuration>
